.navbar {
    display:  flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 80px;

    align-items: center;
    font-size: 30px;

    background-color: #044982;
}

.page-list {
    display: inherit;
    padding: 20px;
    list-style-type: none;
    width: 50%;
}

.page a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-family: 900px;
}

.page > a:hover {
    color: rgb(10, 147, 10);
}